extends layout

block content
    canvas(id = "main", width = 700, height = 558)
    canvas(id = "menu", width = 700, height = 558)
    canvas(id = "event", width = 700, height = 558)

    canvas(id = "char", width = 32, height = 48)

