doctype html
html
  head
    title= title
    script(src='javascripts/canvasdata.js', type='text/javascript')
    script(src='javascripts/moving.js', type='text/javascript')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content