body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0px;
  line-height: 2em;
}

a {
  color: #00B7FF;
}
#main{
    top : 50px;
    left : 50px;
    border:1pt solid #333333;
    position : absolute;
}
#menu{
    top : 50px;
    left : 50px;
    border: 1pt solid #00ff00;
    position : absolute;
    z-index: 1;
}
#event{
    top : 50px;
    left : 50px;
    border: 1pt solid #ff0000;
    position : absolute;
    z-index: 2;
}