body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0px;
  line-height: 2em;
}

a {
  color: #00B7FF;
}

input {
    border : 0pt solid #333333;
    background-color: #f9f9f9;
    font-size: 14pt;
}
#main{
  border:1pt solid #333333;
  margin: 0 auto;
}